# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Temporary files
*.log
*.tmp

# macOS-specific files
.DS_Store